<h1><%= @order.username %>様、購入ありがとうございます</h1>
<h1>ご注文ありがとうございます</h1>

<p>以下の内容でご注文を承りました。</p>

<ul>
  <% @order.order_details.each do |order_detail| %>
    <li>
      商品名: <%= order_detail.item_name %><br>
      価格: <%= order_detail.item_price %>円<br>
      数量: <%= order_detail.quantity %>
    </li>
  <% end %>
</ul>

<p>合計金額: <%= @order.total_price %>円</p>
 
